body {
    display: flex;
    justify-content: center;
    background-image: url("../images/backgr.png");
    background-size: cover;
    background-repeat: no-repeat
}

.container{
    width:80%;
    display: flex;
    justify-content: space-between;
}

.section{
    display: flex;
    justify-content:space-around;
    width: 640px;
    height: 190px;
    border: 2px lightseagreen solid ;
    border-radius: 10px;
    opacity: .9;
}

.section1{
    background:lightsteelblue;
}

.section2{
    background:lightpink;
}

.section3{
    background:lightgray;
}
.section4{
    background:lightgoldenrodyellow;
}

.item{
    display: flex;
    align-items:center;
    flex-direction:column;
}

img {
    width:150px;
    height:150px;
    border-radius: 10px;
    border: 2px  silver solid ;
}

button, input{
    text-align: center;
    border-radius: 6px;
    border: none;
    width: 90%;
    font-family: Verdana;
    font-style: oblique;
    cursor: pointer;
    font-size: 13px;
}

button.price {
    background-color: lightsalmon;
}

button.price:hover{
    background-color: lightcoral;
}

button.price:active{
    background-color: lightgoldenrodyellow;
}
.purchase{
    display: flex;
    flex-direction:column;
}

div{
    color: darkred;
    font-family: Arial;
}

 table{
     border: none;
 }

 tr {
     display: flex;
     flex-direction:column;
 }

 td {
     width:225px;
     background:white;
     margin-top:5px;
     border: 2px solid lightsalmon;
     color: blue;
     font-size: 18px;
     font-style: italic;
}

 #total {
    font-weight: bold;
     font-style: italic;
     border: 2px solid lightgreen;
}

 #summary {
     background: #eeeeee;
     color: darkmagenta;
    font-size: 27px;
     text-align: center;
}

 .visible{
     display: inherit;
 }
